*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  // outline: 2px solid red;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--main-font);
  font-style: normal;

  //for pressing footer to the bottom of the page
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}
