@font-face {
  font-family: 'Rajdhani';
  src: url('../assets/fonts/rajdhani/Rajdhani-Light.ttf'),
    url('../assets/fonts/rajdhani/Rajdhani-Medium.ttf'),
    url('../assets/fonts/rajdhani/Rajdhani-Regular.ttf'),
    url('../assets/fonts/rajdhani/Rajdhani-Bold.ttf'),
    url('../assets/fonts/rajdhani/Rajdhani-SemiBold.ttf');
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../assets/fonts/bebasneue/BebasNeue-Regular.ttf');
}

@font-face {
  font-family: 'Bevan';
  src: url('../assets/fonts/bevan/Bevan-Regular.ttf');
}
