:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --title-color: #212121;
  --description-color: #757575;
  --adress-header-color: #757575;
  --accent-color: #2196f3;
  --background: #2f303a;
  --background-section: #f5f4fa;
  --bcg-btn: #f5f4fa;
  --bcg-item-border: #eeeeee;
  --bgc-card: #f5f4fa;
  --text-color-white: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}