<header class="header">
  <div class="container">
    <!-- logo -->
    <div class="logo">
      <a class="logo-link link" href="./index.html" aria-label="Mountain hike home page" lang="en">
        <div class="logo-text-wrapper">
          <div class="logo-words-wrapper">
            <span class="logo-word1">MOUNTAIN</span>
            <span class="logo-word2">HIKE</span>
          </div>
          <span class="logo-quote">Lose my mind and find my soul</span>
        </div>
      </a>
    </div>

    <!-- adress -->
    <address class="address">
      <ul class="address-list list">
        <li class="address-list-li">
          <a class="adress-list-link link" href="mailto:office@mountainhike.com">
            <svg class="adress-list-svg adress-list-svg-env">
              <use href="./assets/images/sprite.svg#icon-envelope"></use>
            </svg>
            office@mountainhike.com
          </a>
        </li>
        <li class="address-list-li">
          <a class="adress-list-link link" href="tel:+48579184111">
            <svg class="adress-list-svg">
              <use href="./assets/images/sprite.svg#icon-phone"></use>
            </svg>
            +48 579 184 111
          </a>
        </li>
      </ul>
    </address>

    <!-- --- nav--- -->
    <nav class="nav">
      <div class="nav-menu">
        <a class="nav-menu-link" href="#">Menu</a>

        <ul class="nav-list list">
          <li class="nav-list-item"><a href="#" class="nav-list-link">Home page</a></li>
          <li class="nav-list-item"><a href="#" class="nav-list-link">About us</a></li>
          <li class="nav-list-item"><a href="#" class="nav-list-link">Offer</a></li>
          <li class="nav-list-item"><a href="#" class="nav-list-link">Our plan</a></li>
          <li class="nav-list-item"><a href="#" class="nav-list-link">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
