<header class="header">
  <div class="container">
    <div class="logo">
      <a class="logo-link link" href="./index.html" aria-label="Mountain hike home page" lang="en">
        <div class="logo-phrase-wrapper">
          <div class="logo-words-wrapper">
            <span class="logo-word1">MOUNTAIN</span>
            <span class="logo-word2">HIKE</span>
          </div>
          <span class="logo-quote">Lose my mind and find my soul</span>
        </div>
      </a>
    </div>
    <address>
      <ul class="adress-list list">
        <li class="adress-list-li">
          <a class="adress-list-link link" href="mailto:info@devstudio.com">
            <svg class="adress-list-svg" width="16" height="12">
              <use href="./assets/images/sprite.svg#icon-envelope"></use>
            </svg>
            info@devstudio.com
          </a>
        </li>
        <li class="adress-list-li">
          <a class="adress-list-link link" href="tel:+380961111111">
            <svg class="adress-list-svg" width="10" height="16">
              <use href="./assets/images/sprite.svg#icon-phone"></use>
            </svg>
            +38 096 111 11-11
          </a>
        </li>
      </ul>
    </address>
    <nav>
      <ul class="nav-list list">
        <li>Home page</li>
        <li>About us</li>
        <li>Offer</li>
        <li>Our plan</li>
        <li>Contact</li>
      </ul>
    </nav>
  </div>
</header>
