.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);

  .work & {
    margin-bottom: 50px;
  }

  .team & {
    margin-bottom: 50px;
  }

  .clients & {
    margin-bottom: 50px;
  }
}
